.banner_ .swiper {
    width: 100%;
    height: 80vh;
}

.banner_ .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_ .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_ .swiper {
    margin-left: auto;
    margin-right: auto;
}
.banner_ .swiper-button-prev,
.banner_ .swiper-button-next {
    color: var(--text-highlight);
}

@media only screen and (max-width: 426px) {
    .banner_ .swiper {
        height: 50vh;
    }

    .banner_ .swiper-button-prev,
    .banner_ .swiper-button-next {
        display: none;
    }
}

@media only screen and (max-width: 321px) {
    .banner_ .swiper {
        height: 35vh;
    }
}
