@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .focus\:ring-cyan-300:focus {
    --tw-ring-opacity: 0 !important;
} */
@layer base {
    :root {
        --tw-ring-color: 252 129 141;
        --color-secondary: 111 114 185;
        /* ... */
    }
}
#appRoot {
    --text-primary: #454360;
    --text-secondary: #596172;
    --text-highlight: #ff4c60;

    --bg-white: #fff;
    --bg-lite: #f9f9fe;

    --banner-btn: #ff4c60;
    --banner-primary: #fff;
    --banner-secondary: #f9f9fe;

    --btn-primary-bg: #4b4870;
    --btn-primary-text: #fff;

    --btn-secondary-bg: #ff4c60;
    --btn-secondary-text: #fff;

    -tw-ring-color: red;
}

#appRoot {
    background-color: var(--bg-lite);
    min-height: 100vh;
    color: var(--text-secondary);

    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.text-highlight {
    color: var(--text-highlight);
}

.bg-white {
    background-color: var(--bg-white);
}

.custom-width {
    max-width: 1280px;
    padding: 0.5rem 1rem;
    margin: auto;
}
.custom-width-nospace {
    padding: 0px;
}

#bannerTest {
    background-size: cover;
}

/* Flow bite correction */
[data-testid="flowbite-card-image"] {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Login and Register Page Styles */
/* Input field styling */
/* form input._input,
form .searchFieldParent {
    color: var(--text-primary);
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid var(--text-primary);
}

form .searchFieldParent [name="category"],
form .searchFieldParent [name="category"]:focus {
    border-left: 1px solid var(--text-primary);
} */

form input._input:focus,
form .passwordParent:focus,
form .passwordParent:focus-within,
form [name="comment"]:focus,
form textarea:focus,
#email4:focus {
    outline: 1px solid var(--text-primary);
    outline-offset: 0px;
    border-color: var(--text-primary);
    box-shadow: 0px 0px 2px 1px var(--text-primary);
}

form .passwordParent {
    border-radius: 6px;
    border: 1px solid var(--text-primary);
}

/* For removeing flowbite default color */
form input._input[name="password"] {
    border: none;
    outline: none;
    outline-offset: 0px;
    box-shadow: none;
}

form input._input[name="password"]:focus {
    border: none;
    outline: none;
    outline-offset: 0px;
    box-shadow: none;
}

form .passwordParent {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2px;
}

form .passwordEye {
    padding-right: 6px;
}
.loginRegister_Page ._overlay {
    background-color: var(--text-primary);
}
.loginRegister_Page ._sub-content {
    background: rgb(75 72 112 / 70%);
}
.loginRegister_Page .contactFormParent,
.loginRegister_Page .authentication-toggle {
    background-color: white;
}

/* data table fix */
#cell-1-undefined,
.rdt_TableHeadRow .rdt_TableCol:first-child {
    flex-grow: 0;
}
#cell-2-undefined,
.rdt_TableHeadRow .rdt_TableCol:nth-child(2) {
    flex-grow: 3;
}

#cell-3-undefined,
.rdt_TableHeadRow .rdt_TableCol:nth-child(3) {
    flex-grow: 1;
}
#cell-4-undefined,
.rdt_TableHeadRow .rdt_TableCol:nth-child(4) {
    flex-grow: 1;
}
.rdt_TableHeadRow,
.rdt_TableRow {
    font-size: 18px !important;
}
#cell-2-undefined div {
    white-space: wrap;
}
.react_data_table div {
    white-space: normal !important;
}

/* Flowbite menu */
@media only screen and (max-width: 426px) {
    .react_data_table div {
        white-space: nowrap !important;
    }
}

/* Tailwind color fixes*/
/* #checkboxes-tags-demo {
    border: transparent !important;
    outline: transparent !important;
    box-shadow: none !important;
}
#checkboxes-tags-demo:focus {
    border: transparent !important;
    outline: transparent !important;
    box-shadow: none !important;
} */

/* Material ui fixes*/
.allBlogs-search #outlined-search:focus,
.allBlogs-search #tags-outlined:focus {
    box-shadow: 0px 0px 0px transparent;
}
#demo-select-small {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* React Recaptcha Reload icon */
#captchaShow > div {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
#reload_href::before {
    content: "";
    display: block;
    background: url("/reloadIcon.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
